@charset "UTF-8";
@font-face {
    font-family: TCCEB;
    src: url(/static/media/TCCEB.c3dd83c86286b103f741.TTF)
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

body {
    font-family: TCCEB
}

a {
    color: inherit;
    text-decoration: none
}

#root,
.app,
body,
html {
    height: 100%
}

#root {
    background-color: #fff
}

.app {
    display: flex;
    flex-flow: column
}

.header {
    border-bottom: 4px solid #775fca;
    padding: .75rem 0;
    text-align: center
}

.header img {
    width: 12rem
}

.header .title {
    color: #775fca;
    font-size: 1.75rem
}

.container {
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-flow: column;
    font-size: 1.75rem;
    justify-content: center;
    padding: 0 25%;
    text-align: center
}

.container .enter {
    margin-top: 2rem;
    width: 12rem
}

.container .options {
    display: flex;
    margin-top: 1rem
}

.container .options img {
    width: 10rem
}

.container .options img:last-child {
    margin-left: 1rem
}

.container .form {
    margin-top: 1.5rem
}

.container .row {
    display: flex;
    margin-top: 1rem
}

.container .row label {
    text-align: left;
    width: 11rem
}

.container .row input {
    border: 2px solid #000;
    flex: 1 1;
    font-size: 1.25rem;
    padding: 4px
}

.container .row input:disabled {
    background-color: #555;
    cursor: not-allowed
}

.container .row .max {
    border: 2px solid #000;
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 1rem;
    padding: 4px
}

.container .lock {
    cursor: pointer;
    margin-top: 1.5rem;
    width: 10rem
}

.container .withdraw {
    display: flex;
    flex: 1 1;
    flex-flow: column;
    padding: 2rem 0
}

.container .withdraw .row {
    align-items: center;
    display: flex
}

.container .withdraw .row .name {
    text-align: left;
    width: 16rem
}

.container .withdraw .row .amount {
    margin: 0 1rem;
    text-align: left;
    width: 16rem
}

.container .withdraw .row .go {
    cursor: pointer;
    text-align: left;
    width: 6.5rem
}

.footer {
    font-size: 1.5rem;
    padding: .25rem 0;
    text-align: center
}

.footer a:last-child {
    margin-left: 1rem
}

@media only screen and (max-width:810px) {
    .container {
        padding: 0 20%
    }
}

@media only screen and (max-width:428px) {
    .container {
        padding: 0 15%
    }
    .container .row label {
        font-size: 1.5rem;
        text-align: left;
        width: 8rem
    }
    .container .row .max {
        font-size: 1rem;
        margin-left: .5rem
    }
    .container .row input {
        width: 11rem
    }
    .container .withdraw .row {
        font-size: 1.2rem
    }
    .container .withdraw .row .name {
        width: 6.5rem
    }
    .container .withdraw .row .amount {
        width: 8rem
    }
    .container .withdraw .row .go {
        width: 5.5rem
    }
}

@media only screen and (max-width:390px) {
    .container .row input {
        width: 9rem
    }
}

input:focus {
    outline: none
}

#ui-datepicker-div {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .1);
    display: none;
    margin-top: .25rem;
    padding: .5rem
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.ui-datepicker-calendar thead th {
    color: #78909c;
    font-size: .75rem;
    font-weight: 400;
    padding: .25rem 0;
    text-align: center
}

.ui-datepicker-calendar tbody td {
    padding: 0;
    text-align: center;
    width: 2.5rem
}

.ui-datepicker-calendar tbody td a {
    border-radius: .25rem;
    color: #546e7a;
    display: block;
    font-size: .875rem;
    line-height: 2rem;
    text-decoration: none;
    transition: all .3s
}

.ui-datepicker-calendar tbody td a:hover {
    background-color: #e0f2f1
}

.ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #009688;
    color: #fff
}

.ui-datepicker-header a.ui-corner-all {
    border-radius: .25rem;
    cursor: pointer;
    height: 2rem;
    margin: .5rem;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 2rem
}

.ui-datepicker-header a.ui-corner-all:hover {
    background-color: #eceff1
}

.ui-datepicker-header a.ui-datepicker-prev {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iIzQyNDc3MCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNy4yODggNi4yOTYgMy4yMDIgMi4yMWEuNzEuNzEgMCAwIDEgLjAwNy0uOTk5Yy4yOC0uMjguNzI1LS4yOC45OTktLjAwN0w4LjgwMyA1LjhhLjY5NS42OTUgMCAwIDEgLjIwMi40OTYuNjk1LjY5NSAwIDAgMS0uMjAyLjQ5N2wtNC41OTUgNC41OTVhLjcwNC43MDQgMCAwIDEtMS0uMDA3LjcxLjcxIDAgMCAxLS4wMDYtLjk5OWw0LjA4Ni00LjA4NnoiLz48L3N2Zz4=);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: .5rem;
    left: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.ui-datepicker-header a.ui-datepicker-next {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyI+PHBhdGggZmlsbD0iIzQyNDc3MCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNy4yODggNi4yOTYgMy4yMDIgMi4yMWEuNzEuNzEgMCAwIDEgLjAwNy0uOTk5Yy4yOC0uMjguNzI1LS4yOC45OTktLjAwN0w4LjgwMyA1LjhhLjY5NS42OTUgMCAwIDEgLjIwMi40OTYuNjk1LjY5NSAwIDAgMS0uMjAyLjQ5N2wtNC41OTUgNC41OTVhLjcwNC43MDQgMCAwIDEtMS0uMDA3LjcxLjcxIDAgMCAxLS4wMDYtLjk5OWw0LjA4Ni00LjA4NnoiLz48L3N2Zz4=);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    right: 0
}

.ui-datepicker-header a>span {
    display: none
}

.ui-datepicker-title {
    font-size: .875rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
    text-align: center
}

.ui-datepicker-week-col {
    color: #78909c;
    font-size: .75rem;
    font-weight: 400
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */

.pika-single {
    background: #fff;
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    color: #333;
    display: block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
    z-index: 9999
}

.pika-single:after,
.pika-single:before {
    content: " ";
    display: table
}

.pika-single:after {
    clear: both
}

.pika-single.is-hidden {
    display: none
}

.pika-single.is-bound {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
    position: absolute
}

.pika-lendar {
    float: left;
    margin: 8px;
    width: 240px
}

.pika-title {
    position: relative;
    text-align: center
}

.pika-label {
    background-color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 5px 3px;
    position: relative;
    z-index: 9999
}

.pika-title select {
    cursor: pointer;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 5px;
    z-index: 9998
}

.pika-next,
.pika-prev {
    background-color: initial;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    border: 0;
    cursor: pointer;
    display: block;
    height: 30px;
    opacity: .5;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: 20px;
    white-space: nowrap;
    width: 20px
}

.pika-next:hover,
.pika-prev:hover {
    opacity: 1
}

.is-rtl .pika-next,
.pika-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
    float: left
}

.is-rtl .pika-prev,
.pika-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
    float: right
}

.pika-next.is-disabled,
.pika-prev.is-disabled {
    cursor: default;
    opacity: .2
}

.pika-select {
    display: inline-block
}

.pika-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.pika-table td,
.pika-table th {
    padding: 0;
    width: 14.285714285714286%
}

.pika-table th {
    color: #999;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    text-align: center
}

.pika-button {
    background: #f5f5f5;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: auto;
    line-height: 15px;
    margin: 0;
    outline: none;
    padding: 5px;
    text-align: right;
    width: 100%
}

.pika-week {
    color: #999;
    font-size: 11px
}

.is-today .pika-button {
    color: #3af;
    font-weight: 700
}

.has-event .pika-button,
.is-selected .pika-button {
    background: #3af;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px #178fe5;
    color: #fff;
    font-weight: 700
}

.has-event .pika-button {
    background: #005da9;
    box-shadow: inset 0 1px 3px #0076c9
}

.is-disabled .pika-button,
.is-inrange .pika-button {
    background: #d5e9f7
}

.is-startrange .pika-button {
    background: #6cb31d;
    border-radius: 3px;
    box-shadow: none;
    color: #fff
}

.is-endrange .pika-button {
    background: #3af;
    border-radius: 3px;
    box-shadow: none;
    color: #fff
}

.is-disabled .pika-button {
    color: #999;
    cursor: default;
    opacity: .3;
    pointer-events: none
}

.is-outside-current-month .pika-button {
    color: #999;
    opacity: .3
}

.is-selection-disabled {
    cursor: default;
    pointer-events: none
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    background: #ff8000;
    border-radius: 3px;
    box-shadow: none;
    color: #fff
}

.pika-table abbr {
    border-bottom: none;
    cursor: help
}

/*# sourceMappingURL=main.184d3610.css.map*/